<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemonWar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DemonWar.Properties.Settings>
            <setting name="OpenFullFigure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromFalseAllscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMana" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoGama" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyDownCloseConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseDescConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DotaImbaCmd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeySpeak" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyNum7" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyNum8" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyNum4" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyNum5" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyNum1" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyNum2" serializeAs="String">
                <value />
            </setting>
            <setting name="IsModifyKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayInvisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PassAH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnlargeHorizon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenBad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearFog" serializeAs="String">
                <value>False</value>
            </setting>
        </DemonWar.Properties.Settings>
    </userSettings>
</configuration>